.user-item {
  margin: 3rem;
  /* width: calc(25% - 2rem); */
  min-width: 17.5rem;
  width: 25rem;
  list-style: none;
  border-radius: 5rem;
}

.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #323432;
}

.user-item a:hover,
.user-item a:active {
  background: #4b4d4e;
}

.user-item__content {
  padding: 0 !important;
  height: 20rem;
}

.user-item__image {
  width: 12rem;
  height: 12rem;
  margin-right: 1rem;
  margin-left: 2rem;
}
.user-item__info {
  margin: auto;
}
.user-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #2db3d8;
}

.user-item:hover h2,
.user-item:active h2 {
  color: #0efaaf;
}
.user-item:hover h3,
.user-item:active h3 {
  color: rgb(250, 250, 255);
}

.user-item__info h3 {
  margin: 0;
}
.user-item-flex {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 20rem;
}
